{% extends 'base.html' %}
{% load static %}
{% block title %}Real Estate{% endblock %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="{% static 'frontend/css/profile.css' %}">
</head>
<body>
    <div class="container">
        <h2>Change Password</h2>

        <div class="input-group oldpassword">

            <input type="text" id="oldpassword" class="styled-input" placeholder="old password">
        </div>

        <div class="input-group newpassword">

            <input type="password" id="newpassword" class="styled-input" placeholder="new password">
        </div>

        <button onclick="updatePassword()" class="updatepassword">Update Password</button>

        <p id="message" class="passchangemessage"></p>
    </div>
        <script src="{% static 'frontend/js/change_password.js' %}"></script>
</body>

{% endblock %}
</html>